@model IEnumerable<GameNAT.XboxVotingService.XboxGame>

@{
    ViewBag.Title = "Current Games";
}

<h2>@ViewBag.Title</h2>
<p>
	<div>
		@Html.ActionLink("Home", "../")
	</div>
</p>

@if (Model.Count() == 0)
{
	<text>
		<p>There are currently no games.</p>
	</text>
}
else
{
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Status)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Votes)
			</th>
		</tr>

	@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Id)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Title)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Status)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Votes)
			</td>
		</tr>
	}
	</table>
}
<p>
	<div>
		@Html.ActionLink("Home", "../")
	</div>
</p>